.lesson-title {
  font-weight: 600;
}

.landing-link {
    color: inherit;
}

.console {
  font-family:Courier;
   color: #CCCCCC;
  background: #000000;
  border: 3px double #CCCCCC;
  padding: 10px;
}

table {
  font-size: 12px;
  background-color: white;
}

.box{
    width: 100%;
}

.photo-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.photo-container img {
    width: 100%;
}

.dash-card {
  height: 
}

.code {
  font-family: monospace;
}
