<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">dashboard</i>Click to toggle schema</div>
    <div class="collapsible-body center-align">
      <img src="/images/schema.png" alt="" width="100%">
      <a href="http://chinookdatabase.codeplex.com/">Chinook Database</a> visual schema designed using <a href="http://ondras.zarovi.cz/sql/demo/">WWW SQL Designer</a>
    </div>
  </li>
</ul>

