<form class="console right-align">
  <h6 class="left-align">Type your SQL statement here:</h6>
  <input type="text" name="attempt" value="<%= @attempt.submission if @attempt %>">
  <input style="visibility: hidden; height: 1px" class="black-text" type="submit">
  PRESS ENTER TO SUBMIT
</form>